<div class="container">
  <div class="card">
    <p>Kitten Name: <%= @kitten.name.capitalize %></p>
    <p>Age: <%= @kitten.age %></p>
    <p>Cuteness: <%= @kitten.cuteness %></p>
    <p>Softness: <%= @kitten.softness %></p>
    <div><%= link_to "Edit Kitten", edit_kitten_path %></div>
  </div>
</div>
